<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cordova-app</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <hook src="scripts/npmInstall.js" type="after_plugin_install" />
    <platform name="browser">
        <hook src="scripts/build.js" type="before_prepare" />
        <hook src="scripts/Prepare.js" type="after_prepare" />
        <hook src="scripts/run.js" type="after_run" />
    </platform>
    <platform name="android">
        <hook src="scripts/build.js" type="before_prepare" />
        <hook src="scripts/Prepare.js" type="after_prepare" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <hook src="scripts/build.js" type="before_prepare" />
        <hook src="scripts/Prepare-app.js" type="after_prepare" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-device" spec="^2.0.2" />
    <engine name="browser" spec="^5.0.4" />
    <engine name="android" spec="^7.1.2" />
    <engine name="ios" spec="^4.5.5" />
</widget>
